*  {
    margin: 0;
    padding: 0;
}

                                                /* Nav Desktop Version  */

.mobile .nav-mobile, .menu-hover{
    display: none;
}

.desktop, .mobile{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.desktop .nav-desktop{
    background-color: #5f4dee;
    display: grid;
    align-items: center;
}

.desktop .icon-desktop{
    display: none;
}

.desktop .logo-desktop{
    width: 30%;
    display: flex;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 6; 
    float: left;
}

.desktop .items{
    display: flex;
    justify-content: end;
    grid-column-start: 6;
    grid-column-end: 12;
}

.modal-button{
    display: contents;
    color: white;
    font-size: 16px;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}

.modal-content label{
    display: grid;
}

.modal-content{
    display: block;
    font-family: 'Quicksand', sans-serif;
    background-color: #fefefe;
    margin: 15px;
    padding-bottom: 5px;
    border: 1px solid #888;
}

.modal-content h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.form-button{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.register-button{
    background-color: #5f4dee;
    padding: 5px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Fora da nav */

.inital-content{
    background-color: #5f4dee;
    display: grid;
}

/* Carousel Start */

.container{
    display: grid;
    padding-top: 45px;
}

.general-imagems{
    justify-content: end;
    grid-column-start: 6;
    grid-column-end: 12;
}

@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

.mySlides {
    display: none;
}

.carousel-image{
    display: block;
    height: 500px;
}

/* Carousel End */

.left-text {
    grid-column-start: 1;
    grid-column-end: 6;
    align-self: center;
}

.left-text h1{
    font-size: 43px;
    color: white;
    padding: 0px 80px;
    justify-content: space-evenly;
}

.left-text p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: white;
    padding: 8px 25px;
}

.discover-button, .signup-button:hover {
    background-color: white;
    color: #5f4dee;
}

.discover-button:hover {
    background-color: #5f4dee;
    color: white;
}


.signup-button {
    background-color: #5f4dee;
    color: white;
}

.button {
    display: flex;
    justify-content: start;
    padding: 0px 75px;
}

.discover-button, .signup-button {
    padding: 15px;
    margin: 10px 20px 10px 0px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 18px;
}

.clients .amplifier{
    display: block;
    padding: 0px 40px;
    margin: 50px auto 50px auto;
}

.description{
    color: #5f4dee;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.description-heading{
    width: 40.25rem;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-weight: bold;
    font-size: 2.125rem;
    line-height: 2.625rem;
    letter-spacing: -0.2px;
    text-align: center;
    font: bold;
}
                                            /* Features */
.container-features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-image, .featuring-title, .featuring-text {
    justify-content: center;
}

.image{
    width: 100%;
    height: 200px;
}

.featuring-title{
    font-weight: bold;
    color: #2f363b;
    margin-bottom: 15px;
    text-align: center;
}

.featuring-text{
    color: #6b747b;
    text-align: center;
    margin-bottom: 0px 40px;
}
                                            /* Footer */

.container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    background-color: #5f4dee;
}

.footer-title{
    display: flex;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    color: #ffffff;
    margin: 0px 100px 20px 10px;
}

.footer-text{
    display: flex;
    color: #ffffff;
    text-align: left;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    font-size: 0.9rem;
    margin: 0px 100px 50px 10px;
}

                                /* Screen 400px */

/* @media only screen and (max-width: 400px) {
    
    .items{
        display: none;
    }

    .mobile .nav-mobile{
        background-color: #5f4dee;
        display: grid;
    }
    
    .mobile .logo{
        width: 50%; 
        padding: 15px;  
        grid-column-start: 1;  
        grid-column-end: 6; 
        float: left;
    }
    
    .mobile .icon{
        font-size:40px;
        color: white; 
        grid-column-start: 6;  
        grid-column-end: 12; 
        display: flex; 
        justify-content: flex-end; 
        padding-right: 50px;
    }
    
    .mobile .menu-hover{
        background-color: #5f4dee;
        width: 100%;
        display: none;
        padding: 20px;
        justify-content: center;
    }
    
    .mobile .menu-hover a{
        color: white; 
        text-decoration: none; 
        margin-right: 20px;
    }

    .carousel-image {
        width: 75%;
    }
    
    .left-text {
        grid-column-start: 1 !important;
        grid-column-end: 12 !important;
    }
    


    .button {
        justify-content: space-between;
        padding: 0px 55px;
    }
    
    .discover-button, .signup-button {
        padding: 10px;
        border-radius: 30%;
    }
    


    .clients .amplifier{
        padding: 0px 120px;
    }
    

    .description-heading{
        width: 100%;
    }


    .container-features{
        grid-template-columns: 1fr;
    }

    .container-image .image{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .footer-title, .footer-text{
        justify-content: left;
    }

    .footer-text{
        padding: 0px 0px 0px 0px;
    }
}
*/
@media only screen and (max-width: 800px) {

    .left-text h1{
        padding: 100px 50px 0px 50px;
        font-size: 2rem;
        text-align: center;
    }
    
    .left-text {
        grid-column-start: 1;
        grid-column-end: 12;
    }
    
    .left-text p{
        padding: 40px 50px;
    }

    .button{
        display: flex;
        justify-content: center;
    }

    .discover-button, .signup-button{
        margin: 10px 20px;
    }

    .container-features{
        grid-template-columns: 1fr;
    }

    .featuring-title{
        text-align: center;
    }

    .container-footer{
        display: block;
    }

    .featuring-text{
        text-align: center;
        padding: 0px 100px 0px 100px;
    }
    
    .footer-title, .footer-text{
        justify-content: left;
        padding: 0px 0px 0px 30px;
    }

}

@media only screen and (max-width: 1200px){

    /* .left-text h1{
        padding: 100px 50px 0px 50px;
        font-size: 2rem;
        text-align: left;
    } */

    .left-text p{
        text-align: left;
        padding: 0px 80px;
    }

    .carousel-image{
        width: 400px;
    }
    
    .container-image .image{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .footer-title, .footer-text{
        justify-content: left;
        padding: 0px 15px;
    }
}